<form #form="ngForm" style="max-width:500px;margin:auto" (ngSubmit)="searchBooks()" >
    <h2>Search Book</h2>
    <div class="input-container">
        <i class="fa fa-book icon" style="font-size:24px"></i>
        <select #Book (change)="SelectedBook(Book.value)">
          <option value="default">Select Book Name</option>
          <option *ngFor="let book of books" [value]="book.bookName">
              {{book.bookName}}
          </option>
         
        </select>
    </div>
    
  
    <div class="input-container">
      <i class="fa fa-user icon"></i>
      <select #Author (change)="SelectedAuthor(Author.value)">
        <option value="default">Select Author</option>
        <option *ngFor="let user of users" [value]="user.userName">
            {{user.userName}}
        </option>
      </select>
      
    </div>
    
    <div class="input-container">
      <i class="fa fa-briefcase icon"></i>
      <select #Publisher (change)="SelectedPublisher(Publisher.value)" >
        <option value="default">Select Publisher</option>
        <option *ngFor="let book of books" [value]="book.publisher">
            {{book.publisher}}
        </option>
    </select>
    </div>
    <div class="input-container">
      <i class="fa fa-briefcase icon"></i>
      <select #Publisher (change)="SelectedCategory(Publisher.value)" >
        <option value="default">Select Category</option>
        <option *ngFor="let category of categories" [value]="category.categoryId">
            {{category.categoryName}}
        </option>
    </select>
      
    </div>
  
    <div class="input-container">
        <i class='fa fa-calendar icon' ></i>
      <input class="input-field" type="date" placeholder="Release date" name="usrnm" [(ngModel)]="book.publishedDate">
    </div>
    <button type="submit"> <i class="fa fa-search icon">Serach Books</i></button>
  </form>
  