<form #form="ngForm" style="max-width:500px;margin:auto" (ngSubmit)="onSubmitClick()" >
<div class="input-container">
  <i class="fa fa-user icon" ><span>Book Name</span></i>
  <input type="text" class="input-field"  placeholder="Enter Book Name" [(ngModel)]="book.bookName">
</div>
<div class="input-container">
  <i class="fa fa-briefcase icon"><span> Category Name </span></i>
    <!-- #category (change)="onSelected(category.value)" -->
        <select class="input-field" #category (change)="onSelected(category.value)"  > 
          <option value="0">--Select--</option>  
            <option *ngFor="let Categories of CategoryList" value={{Categories.categoryId}}>                
              {{Categories.categoryName}}  
            </option>
        </select>
  
</div>
<div class="input-container">
  <i class="fa fa-briefcase icon"><span> Price </span></i>
 <input type="number" class="input-field" [(ngModel)]="book.price"   placeholder="Price">    
</div>
   <div class="input-container">
    <i class="fa fa-briefcase icon"><span> Publisher Name</span></i>
    <input type="text" class="input-field" [(ngModel)]="book.publisher"publisher  aria-describedby="publisher" placeholder="Enter Publisher">
  </div>
<div class="input-container">
  <i class="fa fa-book icon"><span> Book Content </span></i>
    <input type="text" class="input-field" [(ngModel)]="book.content"  aria-describedby="book content" placeholder="Enter Book Content">
  </div>
  <div class="input-container">
    <i class='fa fa-calendar icon' ><span>Published Date</span></i>
  <input class="input-field" type="date" placeholder="Release date" name="usrnm" [(ngModel)]="book.publishedDate">
</div>

<button type="submit" class="btn btn-primary">Submit</button> 

