<form #form="ngForm" style="max-width:500px;margin:auto" (ngSubmit)="onSubmitClick()" >
<div class="input-container">
  <i class="fa fa-user icon" ><span>Book Name</span></i>
  <input type="text" class="input-field"  placeholder="Enter Book Name" name="bookName" [(ngModel)]="book.bookName" required>
</div>
<div class="input-container">
  <i class="fa fa-briefcase icon"><span> Category Name </span></i>
    <!-- #category (change)="onSelected(category.value)" -->
        <select class="input-field" #category (change)="onSelected(category.value)"  > 
          <option value="0">--Select--</option>  
            <option *ngFor="let Categories of CategoryList" value={{Categories.categoryId}}>                
              {{Categories.categoryName}}  
            </option>
        </select>
  
</div>
<div class="input-container">
  <i class="fa fa-briefcase icon"><span> Price </span></i>
 <input type="number" class="input-field"   placeholder="Price"  name="prc" [(ngModel)]="book.price" required >    
</div>
   <div class="input-container">
    <i class="fa fa-briefcase icon"><span> Publisher Name</span></i>
    <input type="text" class="input-field"  placeholder="Enter Publisher" name="publisher" [(ngModel)]="book.publisher" required>
  </div>
<div class="input-container">
  <i class="fa fa-book icon"><span> Book Content </span></i>
    <input type="text" class="input-field"  placeholder="Enter Book Content" name="bookcnt" [(ngModel)]="book.content" required>
  </div>
  <div class="input-container">
    <i class='fa fa-calendar icon' ><span>Published Date</span></i>
  <input class="input-field" type="date" placeholder="Release date" name="usrnm" [(ngModel)]="book.publishedDate" required> 
</div>

<button type="submit" class="btn btn-primary">Submit</button> 



