<div class="cards-container">
    <div class="cards-form">
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        
        <div>
          <i class="fa fa-envelope icon"><span>Email Id</span></i>
          <input class="input-field" type="text" placeholder="Enter email address" name="email" [(ngModel)]="objpurchase.emailId"(focusout)="onFocusOutEvent($event)" value={{emailPlaceHolder}}>
        </div>
        
        <div class="form-group">
          <button class="btn btn-success">Buy</button>
        </div>
      </form>
    </div>
  </div>
  <div [ngStyle]="{'display':display}">
    <div class="modal-body">
      <app-show-purchased-book-history [purchasedBookHistory]="purchasedBookHistory"></app-show-purchased-book-history>
           </div>
       <div class="modal-footer">
             <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>
           </div>
</div>