<div class="cards-container">
    <div class="cards-form">
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        
        <div class="input-container">
          <i class="fa fa-envelope icon"><span>Email Id</span></i>
          <input class="input-field" type="text" placeholder="Enter email address" name="email" [(ngModel)]="objpurchase.emailId"(focusout)="onFocusOutEvent($event)" value={{emailPlaceHolder}}>
        </div>
        
        <div class="form-group">
          <button class="btn btn-success">Buy</button>
        </div>
      </form>
    </div>
  </div>
  <div [ngStyle]="{'display':display}">
      <h3>Purchased Book History</h3>
    <div *ngFor="let purchasedBook of purchasedBookHistory">
      {{ purchasedBook.bookName}}
      </div>
  </div>