
  <h2>Log In</h2>
  <div class="input-container">
      <i class="fa fa-user icon" style="font-size:24px"><span>User Name</span></i>
    <input class="input-field" type="text" placeholder="User name" name="usrnm" [(ngModel)]="usernameC">
  </div>

  <div class="input-container">
    <i class="fa fa-key icon"><span>Password</span></i>
    <input class="input-field" type="password" placeholder="Password" name="email" [(ngModel)]="passwordC" >
  </div>
  
  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4" (click)="login()">Sign in</button>

